body {
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  padding: 0 2em 3em;
  line-height: 1.4;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  margin-top: 14px;
  text-align: center;
}

code {
  font-family: Consolas, monospace;
  background: #ccc;
  padding: 1px 3px;
}

.btns {
  text-align: center;
}

.btns input {
  width: 75px;
  display: block;
  margin: 12px auto 0;
}

.dir {
  text-align: center;
}

label {
  margin-right: 1.3em;
  padding: 8px;
}

.container {
  min-height: 200px;
  border: solid 2px;
  margin-bottom: 1em;
  background: #b2d5ff;
  display: flex;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.item {
  width: 15%;
  background: #007ed3;
  border: solid 2px #305077;
  margin: 5px;
  text-align: center;
  font-size: 3em;
  color: white;
  font-weight: bold;
  line-height: 2.4;
  flex-grow: 1;
}

.extra {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
}
