body {
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  padding: 0 2em 3em;
  line-height: 1.4;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  margin-top: 14px;
  text-align: center;
}

code {
  font-family: Consolas, monospace;
  background: #ccc;
  padding: 1px 3px;
}

.btns {
  padding-bottom: 1em;
  text-align: center;
}

.dir {
  text-align: center;
}

label {
  margin-right: 1.3em;
  padding: 8px;
}

.container {
  min-height: 300px;
  border: solid 2px;
  margin-bottom: 1em;
  background: #b2d5ff;
  display: flex;
}

.one .item:nth-child(1) {
  order: 1;
}

.one .item:nth-child(2) {
  order: 2;
}

.one .item:nth-child(3) {
  order: 3;
}

.two .item:nth-child(1) {
  order: 2;
}

.two .item:nth-child(2) {
  order: 1;
}

.two .item:nth-child(3) {
  order: 3;
}

.three .item:nth-child(1) {
  order: 3;
}

.three .item:nth-child(2) {
  order: 1;
}

.three .item:nth-child(3) {
  order: 2;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.item {
  background: #007ed3;
  width: 33.3%;
  min-height: 100px;
  margin: .073em;
  border: solid 2px #305077;
  text-align: center;
  font-size: 3em;
  color: white;
  font-weight: bold;
  line-height: 1.4;
}
